footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 61px;
    background-color: #FFFFFF;
    padding: 0 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}
body {
    padding-bottom: 61px; /* évite que le contenu soit caché sous le footer */
}

.footer-menu {
    width: 100%;
    height: 100%;
    display: flex; /* Alignement horizontal */
    justify-content: flex-end; /* TOUT À DROITE */
    align-items: center; /* Centrage vertical */
    gap: 40px; /* Espace entre les éléments */
    list-style: none; /* Pas de puces */
    padding: 0;
    margin: 0;
}

.footer-menu a,
.footer-menu li {
    text-decoration: none; /* Pas de soulignement */
    font-size: 12px;
    font-weight: 300;
    color: #292929;
    transition: all 0.3s ease; /* Transition douce */
}

.footer-menu a:hover {
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

nav {
    width: 100%;
}