header nav {
    align-items: center; 
    background-color: #F5F3EF;
    display: grid;
    /*mode grille qui aligne tout (logo à gauche, compte à droite) */
    grid-template-columns: 1fr 150px 233px 94px 208px 148px 58px 170px 157px 130px 150px 1fr;
    grid-template-rows: 1fr;
    height: 80px;
    justify-items: center;
    min-height: 80px;
    position: relative;
}

/* Le Logo */
header nav .logo {
    justify-self: flex-start;
}

/* Le style des liens (Texte gris, pas de soulignement) */
header nav a {
    color: var(--darkGray);
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap; /* Le texte reste sur une ligne */
    display: flex;
    align-items: center;
}

/* Quand on survole ou que le lien est actif (gras) */
header nav a:hover,
header nav a.active {
    font-weight: 600;
}

/* La petite ligne verticale grise */
header nav .line {
    background-color: var(--textGray);
    height: 19px;
    opacity: 20%;
    width: 1px;
}

/* Les icônes (Messagerie et Compte) */
header nav .messaging img, 
header nav .account img {
    margin-right: 8px; /* Espace entre icône et texte */
    height: 14px;      /* Taille de l'icône */
}

/* La petite bulle de notification */
header nav .messaging .bubble {
    background-color: var(--darkGray);
    border-radius: 10px;
    color: var(--lightGray);
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    margin-left: 5px;
}
