.site-header {
    width: 100%;
    height: 80px;
    background-color: var(--lightGray);
}

header nav {
    display: flex;
    align-items: center;
    gap: 38px;
}

header nav a {
    display: flex;
    align-items: center;
}

.header-inner {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 150px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
}
.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-left
 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.separator {
    /*margin-left: 230px;*/
    margin-left: 208px; 
    height: 19px;
}
.nav-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav a {
    font-size: 14px;
    color: var(--darkGray);
    text-decoration: none;
}

.nav a:hover {
    font-weight: 600;
}

.connexion {
    margin-left: 20px;
}