/* On centre la page et on met une marge */
.book-details-page {
    max-width: 900px;
    margin: 0 auto; /* Centre le bloc au milieu de l'écran */
    padding: 50px 20px;
    font-family: sans-serif;
    /*color: #FAF9F7;*/
}

/* --- Le Fil d'ariane (Le lien retour) --- */
.breadcrumb {
    margin-bottom: 30px;
    color: grey;
}
.breadcrumb a {
    text-decoration: none;
    color: grey;
}

/* --- LE CONTENEUR PRINCIPAL --- */
/* C'est ici que la magie opère : display flex met les éléments côte à côte */
.book-container {
    display: flex; 
    gap: 50px; /* Espace de 50px entre l'image et le texte */
}

/* --- Colonne Gauche : L'image du livre --- */
.book-image {
    flex: 1;
    width: 720px;
}

.book-image img {
    width: 100%; /* L'image remplit son bloc */
    aspect-ratio: 720 / 863;
    display: block;
    object-fit: cover;
}

/* --- Colonne Droite : Les infos --- */
.book-info {
    width: 60%; /* Le texte prend le reste (60%) */
}

.book-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #292929;
}

.book-author {
    color: grey;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.owner-name{
    font-family: 'Inter', sans-serif;
    font-size: 14px ;
    font-weight: 400;
    color: #292929;
    line-height: 100%;
    white-space: nowrap;
}

/* Petite ligne de séparation */
.separator-img {
    display: block;
    width: 27px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box-info {
    flex: 1;
    text-align: left;
}
/* Titres (Description / Propriétaire) */
.section-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.description-text {
    line-height: 1.6; /* Espace entre les lignes pour que ce soit lisible */
    margin-bottom: 40px;
    text-align: justify;
}

/* --- LE BLOC PROPRIÉTAIRE (C'est ici qu'on répare l'avatar géant) --- */
.owner-card {
    display: flex;
    align-items: center; /* Aligne verticalement */
    gap: 12px;
    height: 60px;
    width: fit-content;
    padding : 6px 17px 6px 6px;
    border-radius: 114px;
    background-color: #FFFFFF;
}

/* On force la taille de l'avatar ICI */
.avatar-container {
    width: 48px;   /* Largeur fixe */
    height: 48px;  /* Hauteur fixe */
    border-radius: 50%; /* Ça fait un rond */
    overflow: hidden; /* Coupe ce qui dépasse du rond */
    background-color: #FFFFFF;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
}

/* --- Le bouton vert --- */
.btn-message {
    display: block;
    background-color: #00AC66; /* Vert TomTroc */
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
}

.btn-message:hover {
    background-color: #008f55; /* Un peu plus foncé quand on passe la souris */
}