/* ==========================================================================
   0. LES BASES (Polices, Couleurs, Reset)
   ========================================================================== */

/* On va chercher la police "Inter" et "Playfair" chez Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* LES VARIABLES (La palette de peinture) */
:root {
    --lightGray:#F5F3EF;
    --darkGray: #292929;
    --textGray: #A6A6A6;
    --green: #00AC66;
    --backgroundLight: #FAF9F7;
    --lightGray2:#EDF2F6;
    --white: #F0F0F0;
}

* {
    /* Évite que les marges s'ajoutent à la largeur des boîtes */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--lightGray);
    color: var(--darkGray);
    font-size: 14px;
    /*pour éviter de lisser les polices différemment */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* LES LIENS */
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* LES IMAGES */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Conteneur global (si besoin) */
.container {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 0 20px; 
}


/* ==========================================================================
   1. GLOBAUX ET BOUTONS
   ========================================================================== */

.center-btn {
    text-align: center; 
    width: 100%;        
}

/* STYLE GÉNÉRAL DES BOUTONS */
.btn-outline {
    display: inline-block; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500; 
    text-decoration: none; 
    padding: 12px 30px; 
    border-radius: 4px; 
    transition: all 0.3s ease; 
    cursor: pointer;
    text-align: center;
}

/* BOUTON PLEIN (Vert) ou cta */
.btn {
    width: 152px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Rayon de 10px */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600; /* Semi Bold */
    line-height: 1;   /* 100% */
    text-align: center;
    text-decoration: none;
    /* Haut 39px, Bas 71px pour l'espace de 199px total */
    margin: 39px 0 71px 0; 
    background-color: var(--green);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    /* Lissage Safari */
    transition: all 300ms ease-out;
}

.btn:hover {
    background-color: #008f53; 
    border-color: #008f53;
}

/* BOUTON CONTOUR (Blanc/Transparent avec bord vert) */
.btn-outline {
    background-color: transparent;
    color: var(--green); 
    border: 1px solid var(--green); 
}

.btn-outline:hover {
    background-color: var(--green); 
    color: white; 
}

/* ==========================================================================
   2. SECTION BANNIÈRE (Tout en haut avec Hamza)
   ========================================================================== */
.banner {
    background-color: var(--lightGray); 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 80px;
    min-height: 747px;
    padding-bottom: 50px;
    gap: 105px;
}

.banner-content {
    width: 335px;
    max-width: 335px; /*largeur bloc texte*/
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.banner-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.banner-image .image {
    width: 100%;
    max-width: 404px;
    height: 539px;
}

.name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: var(--textGray);
    display: block; /*pour etre sure que la marge s'applique bien */
    margin-top: 12px; 
    margin-bottom: 50px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2; 
    color: #000000;
    margin-bottom: 16px; 
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    font-weight: 400;
    line-height: 1.5; 
    max-width: 328px;    
    margin-bottom: 40px; 
}


/* ==========================================================================
   3. SECTION LIVRES (Les derniers livres ajoutés)
   ========================================================================== */

.books {
    background-color: #FAF9F7; 
    padding: 80px 0; 
}

.books .section-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 80px; 
}

.books-list {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    max-width: 1200px;       
    margin: 0 auto;          
    gap: 38px;               
    margin-bottom: 48px;     
}

.book {
    width: 200px;
    height: 324px;
    display: flex;
    flex-direction: column;
}

.book-cover {
    width: 200px;
    height: 200px;
}

.book-cover .image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.book-details {
    width: 200px;
    height: 124px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-left: 14px;
    padding-top: 20px;
}

.book-title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 8px 0; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.book-author {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--textGray);
    margin: 0 0 22px 0; 
    margin-bottom: 22px;
}

.book-seller {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: var(--textGray);
    margin: 0;
    margin-bottom: 0px;
}


/* ==========================================================================
   4. SECTION ÉTAPES (Comment ça marche ?)
   ========================================================================== */

.steps {
    background-color: var(--lightGray); 
    padding: 80px 0;           
    text-align: center;        
}

.steps .section-title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1; 
    color: var(--darkGray);
    margin-bottom: 24px; 
}

.steps .subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 300; 
    font-size: 16px;
    line-height: 1;   
    color: var(--darkGray);
    margin-bottom: 40px; 
}

.steps-list {
    display: flex;
    justify-content: center; 
    gap: 36px;               
    margin-bottom: 48px;     
}

.step {
    background-color: #FFFFFF;
    width: 215px;            
    height: 139px;           
    box-sizing: border-box;  
    padding: 44px 18px;      
    font-family: 'Inter', sans-serif;
    font-weight: 400;        
    font-size: 14px;
    line-height: 1;          
    color: var(--darkGray);
    display: flex;
    align-items: center;     
    justify-content: center; 
    text-align: center;
    border-radius: 4px;      
}


/* ==========================================================================
   5. SECTION VALEURS (La grande image et la signature)
   ========================================================================== */

.values {
    background-color: var(--lightGray); 
    padding-bottom: 20px;
    /*margin-bottom: 0;*/
}
.values-banner { 
    width: 100%;
}

.values-banner img {
    width: 100%;
    height: auto;
    display: block; 
    object-fit: cover;
}

.values-content {
    width: 100%;
    max-width: 392px; 
    margin: 80px auto 60px auto; 
    position: relative; 
    min-height: 412px;
}

.values-content .title-left {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1; 
    color: var(--darkGray);
    margin-bottom: 29px; 
}

.values-content p {
    font-family: 'Inter', sans-serif;
    font-weight: 300; 
    font-size: 16px;
    line-height: 1.5; 
    color: var(--darkGray);
}

.signature-box {
    margin-top: 39px;
    position: relative;
    display: flex;
    align-items: flex-end;
   /* padding-bottom: 50px;*/
}

.team-name {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: var(--textGray);
}

.heart {
    position: absolute;
    width: 120px; 
    height: 102px;
    top: -14px;  
    left: 320px;  
}
